  <!-- //Feature module

//to create feature-module(venkat) in "departments" folder use the command =====> "ng g m departments/venkat --flat -m app"
// to create components in departments folder use command ===> "ng g c departments/hi"
// "-m app" is to import feature module in app.module.ts





// Shared module 

// to create shared-module(shared) in "shared" folder use the command ====> "ng g m shared/shared --flat -m departments/venkat"
//we can export {commonmodule,reactiveformsmodule,pipes etc} into feature module by exporting them
// "-m departments/venkat is to import shared module in venkat.module.ts" -->

<router-outlet></router-outlet>



